---
# Prometheus configuration
prometheus_scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
      - targets:
          - '{{ web1_ip }}:9100'
          - '{{ web2_ip }}:9100'
          - '{{ prometheus_ip }}:9100'
          - '{{ elasticsearch_ip }}:9100'
          - '{{ grafana_ip }}:9100'
          - '{{ kibana_ip }}:9100'

  - job_name: 'nginx'
    static_configs:
      - targets:
          - '{{ web1_ip }}:4040'
          - '{{ web2_ip }}:4040'

prometheus_retention_time: "15d"
prometheus_storage_retention_size: "10GB"
