---
- name: Install Nginx
  apt:
    name: nginx
    state: present

- name: Create website directory
  file:
    path: /var/www/html
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'

- name: Deploy static website files
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: www-data
    group: www-data
    mode: '0644'
  loop: "{{ website_files }}"
  loop_control:
    label: "{{ item.src }}"

- name: Configure Nginx site
  template:
    src: nginx-site.conf.j2
    dest: /etc/nginx/sites-available/default
  notify: restart nginx

- name: Enable and start Nginx
  systemd:
    name: nginx
    state: started
    enabled: yes
